In [5]:
num = int(input("Enter a number : "))

if (num > 0):
    print("Number is Positive")
elif (num < 0):
    print("Number is Negative")
else:
    print("Number entered is 0")

Enter a number :  12

Number is Positive

In [10]:
char = input("Enter a character : ")
vow = "AEIOUaeiuo"
vow = list(vow)

if char in vow:
    print("It is a vowel")
else:
    print("Not a vowel")

Enter a character :  a

It is a vowel

In [16]:
a = input("Enter a character : ")

if(a.isalpha()):
    if(a.islower()):
        print("Lower Case Character.")
    else:
        print("Upper Case Character.")
elif(a.isdigit()):
    print("It is a number.")
else:
    print("It is not a number or a character.")

Enter a character :  E

Upper Case Character.

In [34]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a >= b:
    if a >= c:
        greatest = a
    else:
        greatest = c
else:
    if b >= c:
        greatest = b
    else:
        greatest = c

print("The greatest number is:", greatest)

Enter first number:  12
Enter second number:  21
Enter third number:  32

The greatest number is: 32

In [18]:
a = int(input("Enter num 1 : "))
b = int(input("Enter num 2 : "))
c = int(input("Enter num 3 : "))

Enter num 1 :  12
Enter num 2 :  2
Enter num 3 :  42

In [19]:
min = a
mid = b
max = c

In [24]:
if(a>=b and a>=c):
    max = a;
    if(b>=c):
        mid = b;
        min = c;
    else:
        mid = c;
        min = b;
elif(b>=a and b>=c):
    if(a>=c):
        max,mid,min = b,a,c
    else:
        max, mid, min = b,c,a
elif(c>=a and c>=b):
    if(a>=b):
        max, mid, min = c , a, b
    else:
        max, mid, min = c , b, a

print("Numbers is ascending order :",min, mid, max)
print("Numbers is descending order : ", max, mid, min)

Numbers is ascending order : 2 12 42
Numbers is descending order :  42 12 2

In [35]:
num = int(input("Enter Num : "))
if(num<0):
    print(-num)
else:
    print(num)

Enter Num :  -123

123

In [37]:
count = 1
total = 0

while count <= 10:
    num = int(input(f"Enter number {count}: "))
    total += num
    count += 1

print("The sum of 10 numbers is:", total)

Enter number 1:  12
Enter number 2:  234
Enter number 3:  5
Enter number 4:  2
Enter number 5:  4
Enter number 6:  6
Enter number 7:  8
Enter number 8:  9
Enter number 9:  4
Enter number 10:  3

The sum of 10 numbers is: 287

In [46]:
num = int(input("Enter a number: "))
temp = num
order = len(str(num))  # number of digits
sum_of_powers = 0

while temp > 0:
    digit = temp % 10
    sum_of_powers += digit ** order
    temp //= 10

if num == sum_of_powers:
    print(num, "is an Armstrong number")
else:
    print(num, "is not an Armstrong number")

Enter a number:  371

371 is an Armstrong number

In [58]:
num = int(input("Enter a number: "))
l = [int(i)**3 for i in str(num)]
if(num == sum(l)):
    print("Armstrong number")
else:
    print("Not a Armstrong Number")

Enter a number:  371

Armstrong number

In [59]:
print("Armstrong number" if num == sum(int(i)**3 for i in str(num)) else "Not a Armstrong Number")

Armstrong number

WAP to enter decimal number and convert to binary

In [60]:
print(bin(int(input("Enter a number: ")))[2:])

Enter a number:  10

1010

In [61]:
# Print Reverse of a number

In [63]:
num = int(input("Enter a number"))

Enter a number 131424

In [67]:
int(str(num)[::-1])

424131

In [68]:
# WAP program using for loop to calculate factorial of a number

In [71]:
num = int(input("Enter a number : "))
fact = 1;
for i in range(1,num + 1):
    fact = fact * i
    
print(fact)

Enter a number :  5

120

In [73]:
# WAP to print the multiplication table on n 

num = int(input("Enter the num : "))

for i in range(1,11):
    print(f"{num} x {i} = {num*i}")

Enter the num :  4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [74]:
# WAP to display all leap years from 1900 to 2101

for i in range(1900, 2102, 1):
    if(i%400 == 0):
        print(i)
    elif(i%100 == 0):
        continue
    elif(i%4 == 0):
        print(i)
    else:
        continue

1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

In [75]:
# WAP to sum the series 1 + 1/2 + ... + 1/n

In [78]:
n = int(input("Enter the value of n: "))

total = 0

for i in range(1, n + 1):
    total += 1 / i

print(f"Sum of the series up to 1/{n} = {total}")

Enter the value of n:  8

Sum of the series up to 1/8 = 2.7178571428571425

In [79]:
#wap to calculate  the sum of cubes of numbers 1 to n

In [82]:
n = int(input("Enter the value of n: "))

total = 0

for i in range(1, n + 1):
    total = total + i**3

print(f"Sum of cubes = {total}")

Enter the value of n:  3

Sum of cubes = 36