In [1]:
name = input("What's your name?")

What's your name? Raghav

In [2]:
age = input("Enter your age: ")

Enter your age:  24

In [4]:
print(format("hello"))

hello

In [6]:
print(format("hello", '>10'))

     hello

In [10]:
print("{:>10}hello".format(" "))

          hello

In [20]:
# Write a program to enter a number and display its hex, octal and square root
num = int(input("Enter a number : "))
print("Hex = ", hex(num), ", Oct = ", oct(num), ", square root =", num**0.5)

Enter a number :  10

Hex =  0xa , Oct =  0o12 , square root = 3.1622776601683795

In [23]:
# WAP to calculate area of a trinangle using heron's formula
a = float(input("Enter a = "))
b = float(input("Enter b = "))
c = float(input("Enter c = "))
s = (a+b+c)/2
area = ((s)*(s-a)*(s-b)*(s-c))**0.5
print("Area = ", area)

Enter a =  3
Enter b =  3
Enter c =  3

Area =  3.897114317029974

In [29]:
# Write a program to calculate distance between two points
x1 = float(input("Enter x1 = "))
y1 = float(input("Enter y1 = "))
x2 = float(input("Enter x2 = "))
y2 = float(input("Enter y2 = "))
print("Distance = ", ((x1-x2)**2 + (y1-y2)**2)**0.5)

Enter x1 =  3
Enter y1 =  4
Enter x2 =  4
Enter y2 =  5

Distance =  1.4142135623730951

In [109]:
# Write a program to perform addition, subtraction, division, multiplication of two floating point numbers
a = float(input("Enter num1 : "))
b = float(input("Enter num2: "))
op = ['+', '-', '*', '/', '//', 'exit']
i=0

while(True):
    # c = input("Enter operation +, -, *, / , //:")
    c = op[i]
    i += 1
    match c:
        case '+':
            print("a + b = " + str(a+b))
        case '-':
            print("a - b = " + str(a-b))
        case '*':
            print("a * b = " + str(a*b))
        case '/':
            print("a / b = " + str(a/b))
        case '//':
            print("a // b = " + str(a//b))
        case 'exit':
            break

Enter num1 :  5
Enter num2:  6

a + b = 11.0
a - b = -1.0
a * b = 30.0
a / b = 0.8333333333333334
a // b = 0.0

In [108]:
# Write a program to calculate bill amount for a item given its quantity sold value, discount and tax

qs = 10
ppi = 5
amt = qs*ppi
discount = 0.10
discount_total = discount * amt
tax = 0.18
total_amt = (amt - discount_total)*(1+tax)

print(format("BILL", '*>16') + format("", '*>12'))
print("Qauntity Sold:\t\t ", qs)
print("Price per item:\t\t  ", ppi)

print(format("", '->28'))
print("Amount: \t\t ", amt)
print("Discount:\t      ", str(discount*100)+'%')
print(format("", '->28'))
print("Discount total:\t\t", discount_total)
print("Tax:\t\t      ", str(tax*100)+'%')
print(format("", '->28'))
print("Total amt to be paid: ", "{:.2f}".format(total_amt))

************BILL************
Qauntity Sold:		  10
Price per item:		   5
----------------------------
Amount: 		  50
Discount:	       10.0%
----------------------------
Discount total:		 5.0
Tax:		       18.0%
----------------------------
Total amt to be paid:  53.10

In [115]:
# Write a program to calculate student's result based on two examinations, 1 Sport event and 3 activities conducted. 
# Weightage of activities 30%, sports 20% & examination = 50%
marks_exam_1 = float(input("Enter marks for Exam 1: "))
marks_exam_2 = float(input("Enter marks for Exam 2: "))
marks_sports = float(input("Enter marks for Sports: "))
marks_activities_1 = float(input("Enter marks for Activity 1: "))
marks_activities_2 = float(input("Enter marks for Activity 2: "))
marks_activities_3 = float(input("Enter marks for Activity 3: "))
final = (marks_exam_1+marks_exam_2)*0.3/2 + (marks_sports) *0.2 + (marks_activities_1+marks_activities_2+marks_activities_3)*0.5/3 
print("Final Result : ", final)

Enter marks for Exam 1:  10
Enter marks for Exam 2:  20
Enter marks for Sports:  30
Enter marks for Activity 1:  40
Enter marks for Activity 2:  50
Enter marks for Activity 3:  60

Final Result :  35.5

In [122]:
# WAP to convert degree fahrenheit into degree Celcius
F = float(input("Enter the temperature in F : "))
print("Celcius = ", (F-32)*5/9)

Enter the temperature in F :  100

Celcius =  37.77777777777778

In [117]:
# WAP to calculate total amount of money in piggybank given coins of Rs 10, Rs 5, Rs 2, Rs 1

In [123]:
rs10 = int(input("Enter total amount of Rs 10 Coins: "))
rs5 = int(input("Enter total amount of Rs 5 Coins: "))
rs2 = int(input("Enter total amount of Rs 2 Coins: "))
rs1 = int(input("Enter total amount of Rs 1 Coins: "))

print("Total Amount of money : ", rs10*10 + rs5*5 + rs2*2 + rs1*1)

Enter total amount of Rs 10 Coins:  5
Enter total amount of Rs 5 Coins:  4
Enter total amount of Rs 2 Coins:  3
Enter total amount of Rs 1 Coins:  2

Total Amount of money :  78